# Dependencies
node_modules/
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

# TypeScript build output
dist/
*.tsbuildinfo

# Playwright
# Default output directories for test results, reports and traces.
test-results/
playwright-report/
playwright/.cache/

# Environment variables
# Store sensitive information like API keys and passwords in .env files.
# Create a .env.example file with dummy values to show required variables.
.env
.env.*
!.env.example

# IDE - Visual Studio Code
# Ignores user-specific settings, but allows for shared settings.
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# OS-specific
.DS_Store
Thumbs.db
